<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id, class: 'label' %>
    <div class="select">
      <%= form.select :category_id, Category.all.collect { |u| [u.title, u.id] } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :session_type, class: 'label' %>
    <%= form.text_field :session_type, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :swim, class: 'label' %>
    <%= form.text_field :swim, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :bike, class: 'label' %>
    <%= form.text_field :bike, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :run, class: 'label' %>
    <%= form.text_field :run, class: 'input' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-success' %>
  </div>
<% end %>
