<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @entry.session_type %> &ndash;<%= DateTime.now.to_s(:nice_date) %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @entry.session_type %>
        <%= " | " + @entry.category.title if @entry.category.present? %>
      </p>

      <div class="panel-block">
        Swim (km): <%= @entry.swim %>
      </div>

      <div class="panel-block">
        Bike (km): <%= @entry.bike %>
      </div>

      <div class="panel-block">
        Run (km):<%= @entry.run %>
      </div>
    </nav>

    <div class="columns is-mobile">
      <div class="column">
        <%= link_to 'Edit', edit_entry_path(@entry), class: "button is-grey" %>
        <%= link_to 'Delete', entries_path, method: :delete, data: { confirm: 'Are you sure?'}, class: "button is-danger" %>
        <%= link_to 'Back', entries_path, class: "button is-grey" %>
      </div>
    </div>
  </div>
</div>