<div class="columns is-centered mt-5">
  <div class="column is-half">
    <% @entries.each do |day, entries| %>
      <h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered">Entries for <%= day %></h3>

      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Swim</p>
            <p class="title"><%= entries.pluck(:swim).sum.round(2) %> km</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Bike</p>
            <p class="title"><%= entries.pluck(:bike).sum.round(2) %> km</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Run</p>
            <p class="title"><%= entries.pluck(:run).sum.round(2) %> km</p>
          </div>
        </div>
      </nav>

      <% entries.each do |entry| %>
        <%= link_to entry_path(entry) do %>
        <div class="card">
          <div class="card-content">
            <strong><%= entry.session_type %></strong> <%= " | " + entry.category.title if entry.category.present? %><br>
            Swam <%= entry.swim %> km,
            biked <%= entry.bike %> km,
            ran <%= entry.run %> km.
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>